<div class="container">
  <div class="panel-pane pane-texto">
    <div class="pane-content">
      <div class="">
        <div class="row my-2">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-4 order-md-2 mb-4">
                <%= image_tag "calendario.jpg", class:"img-fluid nav-logo" %>
              </div>
              <div class="col-md-8 order-md-1">
                <h2>Formulario de Inscripción</h2>
                <%= render 'form', person: @person %>
                <%= link_to 'Back', people_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


