<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
  <div class="container">
      <%= image_tag "logo_chubut.png", class:"img-fluid nav-logo" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">VOLVER</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Formulario-->
<section id="formulario-header" class="formulario-header-section">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row text-center my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= image_tag "logo_vacunate.png", style:"max-width:25%;" %>
              <h6 class="text-white mx-auto mt-3">Plan provincial público, gratuito y optativo contra COVID-19</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="formulario" class="formulario-section">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                  <%= image_tag "calendario.jpg", class:"img-fluid nav-logo" %>
                </div>
                <div class="col-md-8 order-md-1">
                  <h2>Formulario de Inscripción</h2>
                  <%= render 'form', person: @person %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>