<section id="felicitaciones" class="felicitaciones-section py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <h3>¡FELICITACIONES <%= @person.firstname.upcase %>  !</h3>
                  <p>Has sido inscripto correctamente en el plan público, gratuito y optativo contra COVID-19.
                  Tenemos toda la información necesaria para contactarnos con usted una vez la dosis esté disponible. Recuerde que la inscripción no garantiza la reserva de un turno.</p>

                  <a class="btn btn-secondary btn-block mt-3" href="/">VOLVER AL INICIO</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>