<h1>Population Groups</h1>

<table class="responsive nowrap table table-hover" id="dttb-population_groups" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="code">Code</th>
      <th data-data="priority">Priority</th>
      <th data-data="description">Description</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Population Group', new_population_group_path %>