<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><%= image_tag "logo_chubut.png", class:"img-fluid nav-logo" %></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#cuidados">¿COMO CUDIARME?</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#sintomas">SINTOMAS</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#vacunatorios">VACUNATORIOS</a></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">
              <%= image_tag "logo_vacunate.png", style:"max-width:50%;" %>
            </h1>
            <h2 class="text-white mx-auto mt-5 mb-5">Plan provincial público, gratuito y optativo contra COVID-19</h2>
            <a class="btn btn-primary js-scroll-trigger" href="/inscripcion">INSCRIBITE</a>
        </div>
    </div>
</header>
<!-- Cuidados -->
<section class="cuidados-section text-center" id="cuidados">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="row text-center mb-5">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>CUIDADOS PRINCIPALES</h1>
            </div>
        </div>
        <div class="row text-center mt-2 ">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-distancia.png" alt="Mantené 2 metros de distancia" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Mantené la distancia de 2 metros</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-barbijo.png" alt="Usá barbijo" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Usá barbijo al salir y en el trabajo</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-reuniones.png" alt="No hagas reuniones" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Evitá reuniones en espacios cerrados</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-manos.png" alt="Lavate las manos con jabón" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Lavate las manos con agua y jabón</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-mate.png" alt="No compartas el mate" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">No compartas el mate ni la vajilla</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-tos.png" alt="Cubrite con el codo al toser y estornudar" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Tosé y estornudá en el pliegue del codo</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-limpieza.png" alt="Limpiá las cosas que usás" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Limpiá los objetos que usás frecuentemente</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"> <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-ventilar.png" alt="Ventilá los ambientes" width="50%">
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">Ventilá los ambientes</h5>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-cuidados-septiembre-2020-tocar.png" alt="No te toques la cara" width="50%">
              </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="">No te toques la cara</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje-->
<section id="mensaje" class="mensaje-section bg-gray">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row text-center my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2>CUIDARTE ES CUIDARNOS</h2>
              <p class="h6 mt-2">Es responsabilidad de todos cumplir con lo establecido por el Ministerio de Salud.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sintomas-->
<section class="sintomas-section bg-white" id="sintomas">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row text-center mb-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2>SÍNTOMAS</h2>
            </div>
          </div>
          <div class="row text-center">
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-fiebre.png" alt="Fiebre de 37 grados y medio o más" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-tos.png" alt="Tos" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-garganta.png" alt="Dolor de garganta" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-respiracion.png" alt="Dificultad para respirar" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-cefalea.png" alt="Cefalea" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-descompuesto.png" alt="Diarrea o vómitos" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-olfato.png" alt="Pérdida brusca del olfato y el gusto" width="50%">
              </div>
              <div class="col-md-3">
                <img src="https://www.argentina.gob.ar/sites/default/files/coronavirus-sintomas-septiembre-2020-dolor-muscular.png" alt="Dolor muscular" width="50%">
              </div>
            
              <div class="col-xs-12">
                <p class="h5 mt-5 text-muted">Si tenés dos o más de los siguientes síntomas: fiebre de 37,5°C, tos, dolor de garganta, dificultad respiratoria, dolor muscular, cefalea, diarrea y/o vómitos. O si tenés solo pérdida brusca de gusto u olfato, consultá al sistema de salud de tu localidad.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Vacunatorios-->
<section id="vacunatorios" class="vacunatorios-section bg-dark text-white text-lg-start">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2 class="text-center">VACUNATORIOS</h2>
              <p class="h6 mt-2 mb-5 text-center">Para cualquier inquietud relativa a la vacunación contra el COVID-19, el Ministerio de Salud del Chubut informa que están a disposición de la comunidad los siguientes centros de referencia:</p>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                  <h6 class="text-uppercase mb-0">Comodoro Rivadavia</h6>
                  <ul class="list-unstyled mb-0">
                    <li>
                      Vacunatorio central del Hospital Regional de Comodoro Rivadavia
                    </li>
                      <strong>Dirección:</strong>
                      Yrigoyen N° 920.
                    <li>
                      <strong>Teléfono:</strong> 0297-4442222, interno 243.
                    </li>
                    <li>
                      <strong>Email: </strong>vacunatoriohrcr@gmail.com
                    </li>
                  </ul>
                  <br>
                  <h6 class="text-uppercase mb-0">Trelew</h6>
                  <ul class="list-unstyled mb-0">
                    <li>
                      Vacunatorio central del Hospital Zonal de Trelew
                    </li>
                    </li>
                      <strong>Dirección:</strong>
                      Italia N° 231, esquina Moreno.
                    <li>
                      <strong>Teléfono:</strong>  0280-4303562.
                    </li>
                    <li>
                      <strong>E-mail: </strong>                     vacunatoriocentraltw@gmail.com
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <h6 class="text-uppercase mb-0">Puerto Madryn</h6>
                  <ul class="list-unstyled mb-0">
                    <li>
                      Vacunatorio central del Hospital Zonal de Puerto Madryn
                    </li>
                    <li>
                      <strong>Dirección:</strong>
                      Roberto Gómez N° 383.
                    </li>
                    <li>
                      <strong>Teléfono:</strong> 0280-4451240.
                    </li>
                    <li>
                      <strong>E-mail:</strong>enfprimernivel@hotmail.com
                    </li>
                  </ul>
                  <br>
                  <h6 class="text-uppercase mb-0">Esquel</h6>
                  <ul class="list-unstyled">
                    <li>
                      Vacunatorio central del Hospital Zonal de Esquel
                    </li>
                    </li>
                      <strong>Dirección:</strong>
                      25 de mayo N° 150.
                    <li>
                      <strong>Teléfono:</strong>  02945-450273, interno 122.
                    </li>
                    <li>
                      <strong>E-mail: </strong>                     vacunatoriocentraltw@gmail.com
                    </li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <h6 class="text-uppercase mb-0">Rawson</h6>
                  <ul class="list-unstyled mb-0">
                    <li>
                      Vacunatorio central del Hospital Subzonal de Rawson
                    </li>
                    <li>
                      <strong>Dirección:</strong>
                      Pellegrini esquina Roca.
                    </li>
                    <li>
                      <strong>Teléfono:</strong> 0280-4485509, interno 246.
                    </li>
                    <li>
                      <strong>E-mail:</strong>inmunizacionesrw@gmail.com
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>