$azul-claro: #4698B4;
$amarillo: #FFF429;
$azul-oscuro: #1F295A;
$verde-agua: black;
$form-text-color: black;

@import "bootstrap";
@import "bootstrap-datepicker3";
@import "toastr";
@import "select2";
@import "select2-bootstrap";
@import "datatables";
@import "font-awesome";

@import "admin";
@import "vacunate";
