$azul-claro: #4698B4;
$amarillo: #FFF429;
$azul-oscuro: #1F295A;
$verde-agua: #fff;

@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import "datatables";
@import "datatables";


@import "vacunate"
