<!-- contacto-->
<section id="contacto" class="contacto-section bg-dark text-white text-lg-start py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="text-center">CONTACTOS POR LOCALIDAD</h3>
            <p class="mt-4 mb-5 text-center">
                El Ministerio de Salud del Chubut informa que se encuentran a disposición de la comunidad los siguientes sitios y redes sociales para acceder a información sobre vacunación Covid-19 por localidad:
            </p>
          </div>
          <div class="mt-4 col-md-6 col-sm-6 col-xs-12">
            <h6>COMODORO RIVADAVIA</h6>
            <strong>FB AP Sur: </strong><a href="https://www.facebook.com/apschubut/">https://www.facebook.com/apschubut/</a><br>
            <strong>IG AP Sur:</strong> <a href="https://instagram.com/apschubut">https://instagram.com/apschubut</a><br>
            <a href="https://www.comodoroweb.gob.ar/ords/f?p=152:31">https://www.comodoroweb.gob.ar/ords/f?p=152:31</a>
          </div>
          <div class="mt-4 col-md-6 col-sm-6 col-xs-12">
            <h6>TRELEW</h6>
            <strong>FB Hospital Zonal Trelew:</strong> <a href="https://www.facebook.com/HOSPITALZONALTRELEW/">https://www.facebook.com/HOSPITALZONALTRELEW/</a><br>
            <strong>FB AP Trelew:</strong> <a href="https://www.facebook.com/grasegundo2016/">https://www.facebook.com/grasegundo2016/</a>
          </div>
          <div class="mt-4 col-md-6 col-sm-6 col-xs-12">
            <h6>ESQUEL</h6>
            FB AP Esquel: <a href="https://www.facebook.com/areaprogramaticaesquel/">https://www.facebook.com/areaprogramaticaesquel/</a>
            <h6 class="mt-4">RAWSON</h6>
            <a href="https://www.facebook.com/Hospital-Sub-Zonal-Santa-Teresita-468261453631550/">https://www.facebook.com/Hospital-Sub-Zonal-Santa-Teresita-468261453631550/
</a>
          </div>
          <div class="mt-4 col-md-6 col-sm-6 col-xs-12">
            <h6>PUERTO MADRYN</h6>
            <strong>FB Vacuntario Hospital Zonal Puerto Madryn:</strong> <a href="https://www.facebook.com/Vacunatorio-Hospital-Puerto-Madryn-Dr-Andr%C3%A9s-Isola-113603587110626/">https://www.facebook.com/Vacunatorio-Hospital-Puerto-Madryn-Dr-Andr%C3%A9s-Isola-113603587110626/</a>
            <strong>FB Hospital Puerto Madryn:</strong> <a href="https://www.facebook.com/hospitalmadryn/">https://www.facebook.com/hospitalmadryn/</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="bg-dark text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-left p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    2021 © Ministerio de Salud - Dirección Provincial de Informática
  </div>
  <!-- Copyright -->
</footer>
