<!-- contacto-->
<section id="contacto" class="contacto-section bg-dark text-white text-lg-start py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="text-center">CONTACTOS</h3>
            

            <p class="mt-2 mb-5 text-center">Para cualquier inquietud relativa a la vacunación contra el COVID-19, el Ministerio de Salud del Chubut informa que se encuentra a disposición de la comunidad el siguiente mail de contacto: <strong>chubutvacunate@gmail.com</strong></p>

            <p class="mt-2 mb-5 text-center">¿Tenes dudas sobre covid? <strong>Comunicate al 0800 - 222 - 2676</strong></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="bg-dark text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-left p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    2021 © Ministerio de Salud - Dirección Provincial de Informática
  </div>
  <!-- Copyright -->
</footer>