<!-- contacto-->
<section id="contacto" class="contacto-section bg-dark text-white text-lg-start py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="text-center">CONTACTOS</h3>
            <p class="mt-2 mb-5 text-center">Para cualquier inquietud relativa a la vacunación contra el COVID-19, el Ministerio de Salud del Chubut informa que están a disposición de la comunidad los siguientes centros de referencia:</p>
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-0">
                <h6 class="text-uppercase mb-0">Comodoro Rivadavia</h6>
                <ul class="list-unstyled mb-3">
                  <li>Vacunatorio central del Hospital Regional de Comodoro Rivadavia</li>
                  <li><strong>Dirección: </strong>Yrigoyen N° 920.</li>
                  <li><strong>Teléfono: </strong> 0297-4442222, interno 243.</li>
                  <li><strong>Email: </strong>vacunatoriohrcr@gmail.com</li>
                </ul>
                <h6 class="text-uppercase mb-0">Trelew</h6>
                <ul class="list-unstyled mb-3">
                  <li>Vacunatorio central del Hospital Zonal de Trelew</li>
                  <li><strong>Dirección: </strong>Italia N° 231, esquina Moreno.
                  <li><strong>Teléfono: </strong>0280-4303562.</li>
                  <li><strong>E-mail: </strong>vacunatoriocentraltw@gmail.com</li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-12 mb-0">
                <h6 class="text-uppercase mb-0">Puerto Madryn</h6>
                <ul class="list-unstyled">
                  <li>Vacunatorio central del Hospital Zonal de Puerto Madryn</li>
                  <li><strong>Dirección: </strong>Roberto Gómez N° 383.</li>
                  <li><strong>Teléfono: </strong> 0280-4451240.</li>
                  <li><strong>E-mail: </strong>enfprimernivel@hotmail.com</li>
                </ul>
                <h6 class="text-uppercase mb-0">Esquel</h6>
                <ul class="list-unstyled mb-3">
                  <li>Vacunatorio central del Hospital Zonal de Esquel</li>
                  <li><strong>Dirección:</strong>25 de mayo N° 150.<li>
                  <li><strong>Teléfono:</strong>  02945-450273, interno 122.</li>
                  <li><strong>E-mail: </strong>vacunatoriocentraltw@gmail.com</li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-12 mb-0">
                <h6 class="text-uppercase mb-0">Rawson</h6>
                <ul class="list-unstyled mb-3">
                  <li>Vacunatorio central del Hospital Subzonal de Rawson</li>
                  <li><strong>Dirección:</strong>Pellegrini esquina Roca.</li>
                  <li><strong>Teléfono:</strong> 0280-4485509, interno 246.</li>
                  <li><strong>E-mail:</strong>inmunizacionesrw@gmail.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="bg-dark text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-left p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    2021 © Ministerio de Salud - Dirección Provincial de Informática
  </div>
  <!-- Copyright -->
</footer>